<html ng-app="StarWarsChatApp">

<head>
    <title>Star Wars Chat</title>
</head>

<body ng-controller="MasterCtrl">
    
    <form>
<!--
        <input type="text" placeholder="Username..." ng-model="user.username">
        <input type="text" placeholder="Favorite Color..." ng-model="user.favorites.color">
        <input type="text" placeholder="Favorite Shape. . ." ng-model="user.favorites.shape">
        <button ng-click="addUser(user)">Add user</button>
-->
        <input type="email" placeholder="Email..." ng-model="user.email">
        <input type="password" placeholder="Favorite Color..." ng-model="user.password">
        <input type="text" placeholder="Favorite Shape. . ." ng-model="user.favorites.shape">
        <button ng-click="login(user)">Log In</button>
        <button ng-click =""
    </form>
    
    
    
    <ul ng-controller="MessagesCtrl">
        <li ng-repeat="message in messages">
            <strong>{{message.username}}</strong>
            <div>{{message.text}}</div>
        </li>
        <form>
            <input type "text" ng-model="message.username" placeholder="Username...">
            <input type "text" ng-model="message.text" placeholder="Text...">
            <button ng-click="addMessage(message)">Add Message</button>
            <button ng-click="removeMessage(message)">Delete Message</button>
        </form>
    </ul>
    
    
    <!--script include angular, firebase.js, angularfire.js -->
    
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.js"></script>
    
    <script type="text/javascript">
            
        angular.module('StarWarsChatApp', ['firebase']);
        
        
        var app = angular.module('StarWarsChatApp');
        
        app.constant('firebaseRoot', 'https://star-wars-chat.firebaseio.com/apps/starWarsApp');
        
        app.controller('MasterCtrl', function($scope, $firebaseObject, $firebaseArray,
                                              $firebaseAuth, firebaseRoot) {
            
            var authObj = $firebaseAuth(new Firebase(firebaseRoot));
            
            $scope.authObj = authObj;
            
            $scope.login = function(user) {
                // user = {email: 'asdfasdfsdfds@ysdfsd.com', password: 'asdfadsfds'}
                authObj.$authwithPassord(user).then(fucntion(jwt) {
                    var uid = jwt.uid;
                    var serverUser = $firebaseObject(new Firebase(firebaseRoot +                            '/users/' + user ));
                    serverUser.email = user.email;
                    serverUser.$save();
                    console.log('jwt', jwt);
                }, function(err) {
                    console.log('err', err);
                }
             });
            };
        
        $scope.loginWith Google = function(user) {
                // user = {email: 'asdfasdfsdfds@ysdfsd.com', password: 'asdfadsfds'}
                authObj.$authwithOAuthPopup("google").then(fucntion(jwt) {
                    var uid = jwt.uid;
                    var serverUser = $firebaseObject(new Firebase(firebaseRoot +                            '/users/' + user ));
                    serverUser.email = user.email;
                    serverUser.$save();
                    console.log('jwt', jwt);
                }, function(err) {
                    console.log('err', err);
                }
             });
            };
            
            $scope.register = function(user {
                authObj.createUser(user).then(function(jwt) {
                    $scope.login(user);
                }, function(err) {
                console.log('register err', err)
                });
            };
            
            authObj.$onAuth(function(jwt) { // listens to auth events
                console.log('auth jwt', jwt)
                if (jwt) {
                    $scope.user = $firebaseObject(new Firebase(firebaseRoot + '/users/'                                 + uid))
                serverUser.email = jwt.password.email;
                serverUser.$save();
                    
                $scope.user = serverUser;
                } else {
                    $scope.user = fasle;
                }
            });
            
            
            // var userRef = new Firebase(firebaseRoot + '/users/82342');
            // for multiple users, would use login auth system.
            
//            var userObj = $firebaseObject(userRef);
//            
//            userObj.$bindTo($scope, 'user'); // 2-way bind.
//            
//            userObj.$loaded().then(function() {  // waits for user to load
//                userObj.starred = true;
//                userObj.$save();
//                console.log(userObj);
//            })
//            
//             $scope.addUser = function(user) {
//                 userObj.$add(user);
//            };
        });
        
        app.controller('MessagesCtrl', function($scope, $firebaseObject, $firebaseArray, firebaseRoot) {
            var messagesRef = new Firebase(firebaseRoot + '/messages');
            var messages = $firebaseArray(messagesRef);
            
            $scope.messages = messages;
            
            $scope.addMesage = function(message) {
                $scope.messages.$add(message);
            };
            
            $scope.removeMessage = function(message) {
                $scope.messages.$remove(message);
            };
            
        });
             
  
    
    </script>
    
</body>




</html>